{% extends "base_map.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/webflow_base.css">

    <style>
        html, body {
            background-color: #f1f1f2;
            font-size: 18px;
            line-height: 1;
        }

        body, p, h1, h2, h3, h4, h5, h6 {
            font-family: "Open Sans", sans-serif;
            color: #808284;
        }

        .container {
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-weight: 300;
            color: #808284;
            padding-top: 50px;
            background: #f1f1f2;
            padding-bottom: 50px;
        }

        #dashboard-top-spacer {
            height: 25px;
        }

        #referrals .leaderboard_points {
            margin-top: 5px;
        }

        .well { height: 380px; overflow: hidden; }

        .dashboard-tip-spot {
            position: absolute;
            z-index: 50;
            bottom: 30px;
            right: 20px;
            height: 26px;
            width: 26px;
            margin-top: 0px;
            padding-top: 3px;
            border-radius: 13px;
            text-align: center;
            background-color: #E6E7E8;
            color: #A7A9AB;
        }

        @media (max-width: 768px) {
          .dashboard-tip-spot { bottom: 10px; }
        }

        .dashboard-tip-spot-content {
            display: none;
        }

        .warning-button {
            display: block;
            margin-top: 10px;
            margin-right: auto;
            margin-left: auto;
            border: 1px solid #47bccc;
            border-radius: 5px;
            background-color: #47c1d2;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            font-size: 14px;
            text-align: center;
        }

        table {
            width: 80%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .tcolor {
            height: 25px;
            width: 25px;
            border-radius: 50%;
            display: inline-block;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

    </style>

{% endblock %}

{% block body %}

    <div id="container_community" class="container">
        <div id="community-top-spacer">&nbsp;</div>

        <div class="row">
            <div class="col-md-10">
                <div class="twothirds_div">
                    <h1>Community</h1>
                    <table id="commtable">
                        <tr>
                            <th>Display Name</th>
                            <th>Tier</th>
                            <th>Point Balance</th>
                            <th>Phone Number(s)</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="locationModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Location of</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body"><br>
                userLocationOf
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script>
        var t = document.getElementById("commtable");
        {% for r in comm %}
            var row = document.createElement("tr");
            {% for i in range(1, 4) %}
                var cell = document.createElement("td");
                {% if i == 1 %}
                    cmod = document.createElement("div");
                    cmod.className = "modal fade";
                    cmod.setAttribute("tabindex", -1);
                    cmod.setAttribute("role", "dialog");
                    cmod.setAttribute("aria-labelledby", "locationModalLabel");
                    cmod.setAttribute("aria-hidden", "true");
                    cmod.id = "locationModal{{r[0]}}";
                    inner = document.getElementById("locationModal").innerHTML;
                    inner = inner.replace("Location of", "Location of {{r[1]}}");
                    {% if r[4] == None %}
                        inner = inner.replace("userLocationOf", "Location not specified");
                    {% else %}
                        inner = inner.replace("userLocationOf", "{{r[4]}}");
                    {% endif %}
                    cmod.innerHTML = inner;

                    cell.innerHTML = "<a data-toggle='modal' data-target='#locationModal{{r[0]}}'>{{r[1]}}</a>"
                    cell.appendChild(cmod);
                {% elif i == 2 %}
                    {% if r[i] == "Carbon" %}
                        cell.innerHTML = "<span class=tcolor style='background-color:#737373'></span>";
                    {% elif r[i] == "Bronze" %}
                        cell.innerHTML = "<span class=tcolor style='background-color:#8C7853'></span>";
                    {% elif r[i] == "Silver" %}
                        cell.innerHTML = "<span class=tcolor style='background-color:#E6E8FA'></span>";
                    {% elif r[i] == "Gold" %}
                        cell.innerHTML = "<span class=tcolor style='background-color:#CD7F32'></span>";
                    {% elif r[i] == "Platinum" %}
                        cell.innerHTML = "<span class=tcolor style='background-color:#E5E4E2'></span>";
                    {% endif %}
                    cell.innerHTML += " {{r[i]}}";
                {% else %}
                    cell.innerHTML = "{{r[i]}}";
                {% endif %}
                row.appendChild(cell);
            {%endfor%}
            var ncell = document.createElement("td");
            var nlist = document.createElement("ul");
            {% for number in r[5] %}
                var ni = document.createElement("li");
                ni.innerHTML = "{{number}}";
                nlist.appendChild(ni);
            {%endfor%}
            ncell.appendChild(nlist);
            row.appendChild(ncell);
            t.appendChild(row);
        {% endfor %}
    </script>

{% endblock %}
